<div class="Add_Invoice">
    <div class="row m-0">
        <div class="col-md-8">
            <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a></li>
                        <li class="breadcrumb-item active"><a>My Cases</a></li>
                        <li class="breadcrumb-item active"><a>My Doc Share</a></li>
                        <li class="breadcrumb-item active"><a>View File</a></li>
                    </ol>
                </nav>
            </div>
            <div class="invoice_heading">
                <h1>View File</h1>
            </div>
        </div>
        <div class="col-md-4">
            <form   class="add_invoice_form add_invoice_form1">
                <div class="row">
                    <div class="col-md-8">

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-md-12">

            
            <!-- <file-viewer
            filename="Sample-Sales-Data.xlsx"
    url="{{fileUrl}}{{fileData.client_files}}"
    (onload)="onLoad($event)"
>
</file-viewer> -->




          <!-- {{fileData.client_files}} -->
            </div>
        </div>

    </div>
