<div class="add_new_topic">
    <div class="row m-0">
        <div class="col-md-12 p-0">
            <div mat-dialog-title class="dialog_title">
                <h1>Withdarw amount</h1>
                <button mat-button mat-dialog-close class="cancel_btn"><i class="bi bi-x-circle"></i></button>
            </div>
            <div mat-dialog-content class="dialog_content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="withdraw_heading middle">
                            <p>Avilable Blance</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="just_law_blance">
                            <p>Just Dial Law Blance</p>
                            <li class="d-flex">
                                <span><h1>₹1000</h1></span>
                                <div class="wallet_icon">
                                    <i class="bi bi-wallet2"></i>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="withdraw_heading heading_1 middle">
                            <p>Withdraw Amount</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Withdarw_amount">
                            <h1>500/-</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <li class="info_content">
                            <div class="info_icon">
                                <i class="bi bi-info-circle-fill"></i>
                            </div>
                            <span><p>The Amount will be transferred to your bank account 3 working days</p></span>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button mat-button class="sub_btn">Withdarw</button>
                    </div>
                   
                </div>
               
            </div>
        </div>
    </div>
</div>

