<div class="Add_Invoice">
    <div class="row m-0">
        <div class="col-md-8">
            <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" [routerLink]="'/my-jdl/profiledashboard'"><a>Home</a></li>
                        <li class="breadcrumb-item active"><a>My Leads</a></li>
                    </ol>
                </nav>
            </div>
            <div class="invoice_heading">
                <h1>My Leads</h1>
            </div>
        </div>
        <div class="col-md-4">
            <!-- <form   class="add_invoice_form add_invoice_form1">
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="mat_form_filed">
                            <button mat-button><i class="bi bi-search"></i> </button>
                            <mat-label class="mat_label">Search</mat-label>
                            <input matInput type="text" class="mat_input" (keyup)="applyFilter($event)" #input>
                        </mat-form-field>
                    </div>
                </div>
            </form> -->
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-12">
            
            <div class="transactions_tables">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="  table_width">
                        <ng-container matColumnDef="assignedlawyer">
                            <th mat-header-cell *matHeaderCellDef> Assigned Lawyer </th>
                            <td mat-cell *matCellDef="let element"> {{element.timeslot.created_by.username.split('-')[0]}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="timing_slot">
                            <th mat-header-cell *matHeaderCellDef> Appointment Time</th>
                            <td mat-cell *matCellDef="let element"> {{element.timeslot.Advocate_timing_slot}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="created_on">
                            <th mat-header-cell *matHeaderCellDef> Appoinment Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd MMM, yyyy'}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell *matCellDef="let element">  
                                <ng-container *ngIf="element.accept_or_reject === null ">
                                Case Accept  Pending 
                                   </ng-container>
           
                                   <ng-container *ngIf="element.accept_or_reject === 'accept' ">
                                   Case Accepted
                                          </ng-container>
    
                                          <ng-container *ngIf="element.accept_or_reject === 'reject' ">
                                            Case Rejected
                                                   </ng-container>
    
                                    </td>
                        </ng-container>
    
    
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button class="review_btn" mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="openDialog(element)">
                                        <mat-icon>rate_review</mat-icon>
                                        <span>Write Review</span>
                                    </button>
    
                                </mat-menu>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header_bg"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                
                <mat-paginator [length]="appoinmentList.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>