
<app-sub-nav></app-sub-nav>

<div class="bannersmall2">
    <img alt=""class="img-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="innerhero">
                    <h2>Terms Of Use </h2>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_info pt-md-3 pb-md-5">
    <div class="container">
        <div class="row d-flex justify-content-center mt-3">
          <div class="col-md-12">
             <p> "Terms of Use," also known as "Terms and Conditions" or "Terms of Service," are a set of legal agreements between a company or website operator and its users or customers. These terms outline the rules,
                 guidelines, rights, and responsibilities that govern the use of the company's products,
                  services, and website.</p>
                   <h5>The primary purposes of Terms of Use include</h5>

                 <p><span>Defining User Responsibilities:</span> Terms of Use outline what users are allowed and not allowed to do when using the company's services or website. 
                    This might include rules about acceptable behaviour, prohibited content, and limitations on how the service can be used.
                 </p>

                 <p><span>Setting Legal Boundaries:</span> The terms set legal boundaries for the relationship between the company and its users. They clarify the company's rights,
                     liabilities, and obligations, as well as the user's rights and responsibilities.
                 </p>

                 <p><span>Dispute Resolution:</span>  Terms of Use often include clauses
                     that dictate how disputes will be resolved. This can involve methods like arbitration, mediation, or legal action.
                 </p>

                 <p><span>Intellectual Property: </span> These terms may address how the company's intellectual property
                     (like trademarks, copyrights, and patents) is protected and how users are allowed to use or interact with that intellectual property.
                 </p>

                 <p><span>Privacy and Data Usage:</span> Terms of Use usually cover the company's privacy practices, 
                    explaining how user data is collected, stored, and used. They may also describe the use of cookies and other tracking technologies.
                 </p>

                 <p><span>Limitation of Liability: </span> Companies often include disclaimers to limit their liability for any damages or losses incurred by users while using their services.
                 </p>

                 <p><span>Termination of Access:  </span> The terms clarify under what conditions the company can terminate a user's access to their services, such as violations of the terms or abusive behavior.
                 </p>
                 
                 <p><span>Changes to the Agreement: </span> Terms of Use often include a clause that allows the company to update or modify the terms as needed. Users are 
                    typically notified of these changes, and their continued use of the service implies acceptance of the updated terms.
                 </p>

                 <p><span>Age Restrictions:  </span> If the service is not intended for minors, 
                    the terms may include age restrictions and procedures to verify the age of users.
                 </p>

                 <p><span>Governing Law: </span> These terms specify which jurisdiction's laws 
                    apply to the agreement and any potential disputes that may arise.
                 </p>

                 <p>
                    It's important for both companies and users to understand and agree to these terms before using a service, 
                    as they establish the legal framework for the relationship. Companies should ensure that their terms are clear, easily accessible, 
                    and written in a language that users can understand. Users, on the other hand, 
                    should read and understand the terms before agreeing to them, as they define the rights and responsibilities of both parties.
                 </p>



            </div>
            </div>
            </div>
            </div>

<app-footer></app-footer>