<div class="Add_Invoice">
    <div class="row m-0">
        <div class="col-md-12">
            <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" [routerLink]="'/lawyer-jdl/home'"><a>Home</a></li>
                        <li class="breadcrumb-item" [routerLink]="'/lawyer-jdl/cases'"><a>Case List</a></li>
                        <li class="breadcrumb-item active"><a>Add Case List</a></li>
                    </ol>
                </nav>
            </div>
            <div class="invoice_heading">
                <h1>Add Cases</h1>
            </div>
        </div>
    </div>

    <div class="enq_tabs">
        <div class="row m-0">
            <div class="col-md-4">
                <mat-card class="panal_bg_color"  >
                    <a [routerLink] = "'/lawyer-jdl/cases/add_district_court_case'">
                        <div class="d-flex" >
                            <div class="bg_icon">
                                <img src="../../assets/img/enquiries-icon7.png" alt="">
                            </div>
                            <h1>District Courts</h1>
                        </div>
                    </a>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="panal_bg_color panal_bg_color1">
                   <a>
                    <div class="d-flex">
                        <div class="bg_icon">
                            <img src="../../assets/img/enquiries-icon7.png" alt="">
                        </div>
                        <h1>High Courts</h1>
                    </div>
                   </a>
                </mat-card>

            </div>
            <div class="col-md-4">
                <mat-card class="panal_bg_color panal_bg_color2">
                    <a href="">
                        <div class="d-flex">
                            <div class="bg_icon">
                                <img src="../../assets/img/enquiries-icon7.png" alt="">
                            </div>
                            <h1>NCDRC Consumer </h1>
                        </div>
                    </a>
                </mat-card>

            </div>
            <div class="col-md-4">
                <mat-card class="panal_bg_color panal_bg_color3">
                   <a href="">
                    <div class="d-flex">
                        <div class="bg_icon">
                            <img src="../../assets/img/enquiries-icon7.png" alt="">
                        </div>
                        <h1>NCLT Tribunal</h1>
                    </div>
                   </a>
                </mat-card>

            </div>
            <div class="col-md-4">
                <mat-card class="panal_bg_color panal_bg_color4">
                    <a href="">
                        <div class="d-flex">
                            <div class="bg_icon">
                                <img src="../../assets/img/enquiries-icon7.png" alt="">
                            </div>
                            <h1>Others</h1>
                        </div>
                    </a>
                </mat-card>

            </div>
            <div class="col-md-4">
                <mat-card class="panal_bg_color panal_bg_color5">
                   <a href="">
                    <div class="d-flex">
                        <div class="bg_icon">
                            <img src="../../assets/img/enquiries-icon7.png" alt="">
                        </div>
                            <h1>Supreme Court</h1>
                    </div>
                   </a>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="panal_bg_color panal_bg_color6">
                    <a href="">
                        <div class="d-flex">
                            <div class="bg_icon">
                                <img src="../../assets/img/enquiries-icon7.png" alt="">
                            </div>
                            <h1>Tribunals</h1>
                        </div>
                    </a>
                </mat-card>
            </div>
        </div>
    </div>


</div>