<div class="add_new_topic">
    <div class="row m-0">
        <div class="col-md-12 p-0">
            <div mat-dialog-title class="dialog_title">
                <h1>Send Payment Link</h1>
                <button mat-button mat-dialog-close class="cancel_btn"><i class="bi bi-x-circle"></i></button>
            </div>
            <div mat-dialog-content class="dialog_content">
                <form class="add_invoice_form" [formGroup]="paymentsLinsFrom"  #myform="ngForm" >
                   
                    <div class="row">
                        <div class="col-md-12" >
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Payment Link</label>
                                <input type="text" class="form-control" formControlName="payment_link"  placeholder="Payment Link">
                              </div>
                              <h6>
                                <span *ngIf="paymentsLinsFrom.controls['payment_link'].hasError('required') && myform.submitted">Payment Link is required</span>
                              </h6>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Amount</label>
                                <input type="text" class="form-control"  formControlName="amount" placeholder="Amount">
                              </div>
                              <h6>
                                <span *ngIf="paymentsLinsFrom.controls['amount'].hasError('required') && myform.submitted">Anount is Required</span>
                              </h6>
                        </div>
                    </div>
                 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row  justify-content-center">
                                <div class="col-md-7">
                                    <button mat-button (click)="sendPaymentLinks()" class="sub_btn">Send Link</button>
                                  
                                </div>
                    
                            </div>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

