<div class="lawyers_invoice">
    <div class="row m-0">
        <div class="col-md-8">
            <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a></li>
                        <li class="breadcrumb-item active"><a>Just Dial Law Subcription</a></li>
                    </ol>
                </nav>
            </div>
            <div class="invoice_heading">
                <h1>Just Dial Law Subcription</h1>
            </div>
        </div>
        
    </div>
    <div class="row m-0">
        <div class="col-md-12">
            <div class="verification">
                <div class="row">
                    <div class="col-md-10">
                        <div class="verfication-heading">
                            <h1>Pricing plans for teams of all sizes</h1>
                            <p>Choose an affordable plan that’s packed with the best featur <br>
                                for engaging your audience, creating customers loyalty, and driving sales.</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="pricing_plans">
        <div class="row m-0">
            <div class="col-md-12">
                <div class="pricing_heading">
                    <h1>Pricing plans for teams of all sizes</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing_plane_card">
                    <div class="card_header">
                        <h1>LAWYER DIARY</h1>
                    </div>
                    <div class="clip_path_are">
                        <h5><b>Rs.</b>999* <span>(INR 0/Enquiry)</span> </h5>
                        <p>Now Manage all your Cases,
                            Dates & Clients at your finger tip.</p>
                    </div>
                    <div class="plane_points">
                        <li class="d-flex">
                            <div class="icon">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Replace your Physical Lawyer
                                Diary with Digital Diary
                            </span>
                        </li>
                        <li class="d-flex">
                            <div class="icon">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Add cases and get auto
                                updates on all cases
                            </span>
                        </li>
                        <li class="d-flex">
                            <div class="icon">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Add Clients and manage all
                                clients at one place.
                            </span>
                        </li>

                        <button mat-button>Buy Now</button>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pricing_plane_card card_1">
                    <div class="card_header header1">
                        <h1>LAWYER DIARY</h1>
                    </div>
                    <div class="clip_path_are clip_path_are1">
                        <h5><b>Rs.</b>999* <span>(INR 0/Enquiry)</span> </h5>
                        <p>Now Manage all your Cases,
                            Dates & Clients at your finger tip.</p>
                    </div>
                    <div class="plane_points">
                        <li class="d-flex">
                            <div class="icon icon1">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Replace your Physical Lawyer
                                Diary with Digital Diary
                            </span>
                        </li>
                        <li class="d-flex">
                            <div class="icon icon1">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Add cases and get auto
                                updates on all cases
                            </span>
                        </li>
                        <li class="d-flex">
                            <div class="icon icon1">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Add Clients and manage all
                                clients at one place.
                            </span>
                        </li>

                        <button mat-button>Buy Now</button>

                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="pricing_plane_card card_2">
                    <div class="card_header header2">
                        <h1>LAWYER DIARY</h1>
                    </div>
                    <div class="clip_path_are clip_path_are2">
                        <h5><b>Rs.</b>999* <span>(INR 0/Enquiry)</span> </h5>
                        <p>Now Manage all your Cases,
                            Dates & Clients at your finger tip.</p>
                    </div>
                    <div class="plane_points">
                        <li class="d-flex">
                            <div class="icon icon1">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Replace your Physical Lawyer
                                Diary with Digital Diary
                            </span>
                        </li>
                        <li class="d-flex">
                            <div class="icon icon1">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Add cases and get auto
                                updates on all cases
                            </span>
                        </li>
                        <li class="d-flex">
                            <div class="icon icon1">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                            <span>
                                Add Clients and manage all
                                clients at one place.
                            </span>
                        </li>

                        <button mat-button>Buy Now</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="faqs">
        
         <div class="row">
             <div class="col-md-12">
                 <div class="faq_title">
                     <h1>Frequently Asked Questions</h1>
                 </div>
             </div>
         </div>
         <div class="row justify-content-center">
             <div class="col-md-8">
                 <mat-accordion>
                     <mat-expansion-panel class="expansion_panel">
                       <mat-expansion-panel-header class="panel_header">
                         <mat-panel-title>
                          <h1>What is Just Dial Law?</h1>
                         </mat-panel-title>
                       </mat-expansion-panel-header>
                       <div class="panal_content">
                         <p>Yes, you can request a consultation fee and any legal fee you deem fit and necessary if they are in agreement with you for the fee.</p>
                       </div>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="expansion_panel" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
                         <mat-expansion-panel-header class="panel_header">
                           <mat-panel-title>
                            <h1>Is Just Dial Law a law firm?</h1>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div class="panal_content">
                           <p>No, Just Dial Law is not a law firm. We are a neutral and transparent legal tech platform that connects our network of high-quality lawyers with business clients. Just Dial Law does not entertain and take up any client matter directly.</p>
                         </div>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="expansion_panel" (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
                         <mat-expansion-panel-header class="panel_header">
                           <mat-panel-title>
                            <h1>Can listing myself with Just Dial Law?</h1>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div class="panal_content">
                           <p>Yes, you can request a consultation fee and any legal fee you deem fit and necessary if they are in agreement with you for the fee.</p>
                         </div>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="expansion_panel" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
                         <mat-expansion-panel-header class="panel_header">
                           <mat-panel-title>
                            <h1>Why should I sign up with Just Dial Law?</h1>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div class="panal_content">
                           <p>Yes, you can request a consultation fee and any legal fee you deem fit and necessary if they are in agreement with you for the fee.</p>
                         </div>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="expansion_panel" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
                         <mat-expansion-panel-header class="panel_header">
                           <mat-panel-title>
                            <h1>Am I eligible to sign up?</h1>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div class="panal_content">
                           <p>Yes, you can request a consultation fee and any legal fee you deem fit and necessary if they are in agreement with you for the fee.</p>
                         </div>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="expansion_panel" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
                         <mat-expansion-panel-header class="panel_header">
                           <mat-panel-title>
                            <h1>Is this a lawyer referral service?</h1>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div class="panal_content">
                           <p>Yes, you can request a consultation fee and any legal fee you deem fit and necessary if they are in agreement with you for the fee.</p>
                         </div>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="expansion_panel" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
                         <mat-expansion-panel-header class="panel_header">
                           <mat-panel-title>
                            <h1>How do I sign up?</h1>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <div class="panal_content">
                           <p>Yes, you can request a consultation fee and any legal fee you deem fit and necessary if they are in agreement with you for the fee.</p>
                         </div>
                     </mat-expansion-panel>                
                 </mat-accordion>
                 <div class="qust">
                     <h1>Didn't find your answer?</h1>
                     <p>Contact our Partner Support team at contact@justlaw.in or call us at <span>+91 709 658 4158</span></p>
                 </div>
             </div>
         </div>
        
     </div>
    
</div>