<app-sub-nav></app-sub-nav>




<div class="franchise-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header-left middle">

                    <h5>India's No. <span>#1</span> <br> AI-powered Legal platform <span>for new clients</span>,
                        <span>billing</span>,
                        <span> payments</span>, and <span>case drafting and management.</span>
                    </h5>

                    <div class="mobile-none">
                        <div class="perspective mobile-none">
                            <button class="btn btn-8 btn-8f" (click)="lawyerLogin()">Get Started</button>
                            <div class="shine"></div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-md-5 px-md-0">
                <div class="img">
                    <img src="assets/img/franchise-banner-image.png" alt="">
                </div>
            </div>
        </div>

    </div>


    <div class="transparant">
        <div class="img">
            <img src="assets/img/transparant.png" alt="">
        </div>
    </div>

</div>


<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon">
                    <img src="assets/img/agile.png">
                </div>
                <div class="text">
                    <h4>Streamlined Process through AI</h4>
                    <p>We offer digital tools for managing client relationships, case filings, appointments, and billing,
                        streamlining administrative tasks and allowing lawyers to focus more on practicing law.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon">
                    <img src="assets/img/coordination.png">
                </div>
                <div class="text">
                    <h4>Marketing and Branding</h4>
                    <p>These platforms often provide tools for lawyers to showcase their accomplishments, publish articles, and demonstrate thought leadership. 
                    This can be an effective way to market their services and stand out in a competitive legal landscape.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon">
                    <img src="assets/img/help.png">
                </div>
                <div class="text">
                    <h4>Access to Clients with Specific Needs</h4>
                    <p>Niche legal platforms may cater to specific areas of law or industries, 
                        allowing lawyers to connect with clients who have unique needs that match their expertise.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="why-partner-with">
    <div class="container container_bigscreen">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Why Join With Us?</h2>
                    </div>
                </div>
                <div class="row ">

                    <div class="col-md-6 pr-2">
                        <div class="partner-card">
                            <div class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z" />
                                </svg>
                            </div>
                            <h4>Professional Networking</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i> Lawyers can connect with peers, mentors, and potential collaborators within their legal community.
                                     This networking can lead to valuable referrals, partnerships, and opportunities for professional growth.</li>
                                <!-- <li><i class="fa fa-circle"></i> Switch to better higher-paying jobs.</li>
                                <li><i class="fa fa-circle"></i> Get countless international opportunities</li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 pl-2">
                        <div class="partner-card">
                            <div class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z" />
                                </svg>
                            </div>
                            <h4>Access to Resources</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i> Specialized websites for lawyers often offer resources such as legal templates,
                                     research materials, and educational content.
                                     These resources can help lawyers stay updated on the latest legal developments and improve their practice.</li>
                                <!-- <li><i class="fa fa-circle"></i> Switch to better higher-paying jobs.</li>
                                <li><i class="fa fa-circle"></i> Get countless international opportunities</li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 pr-2">
                        <div class="partner-card">
                            <div class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z" />
                                </svg>
                            </div>
                            <h4>Client Acquisition</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i> Some platforms connect lawyers with potential clients seeking legal services. 
                                    This can be especially beneficial for solo practitioners and small law firms looking to expand their client base.</li>
                                <!-- <li><i class="fa fa-circle"></i> Switch to better higher-paying jobs.</li>
                                <li><i class="fa fa-circle"></i> Get countless international opportunities</li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 pl-2">
                        <div class="partner-card">
                            <div class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z" />
                                </svg>
                            </div>
                            <h4>Visibility and Credibility</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i> Joining a reputable legal platform can enhance a lawyer's online presence and credibility.
                                     It showcases their expertise and allows them to build a strong online brand within their practice area.</li>
                                <!-- <li><i class="fa fa-circle"></i> Switch to better higher-paying jobs.</li>
                                <li><i class="fa fa-circle"></i> Get countless international opportunities</li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 pr-2">
                        <div class="partner-card">
                            <div class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z" />
                                </svg>
                            </div>
                            <h4>Collaboration and Referrals</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i>These platforms can facilitate collaboration among lawyers with complementary skills. When a lawyer encounters a case that falls outside their expertise, 
                                    they can refer it to a colleague on the platform, fostering a sense of collaboration and reciprocity.</li>
                                <!-- <li><i class="fa fa-circle"></i> Switch to better higher-paying jobs.</li>
                                <li><i class="fa fa-circle"></i> Get countless international opportunities</li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 pl-2">
                        <div class="partner-card">
                            <div class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z" />
                                </svg>
                            </div>
                            <h4>Professional Development</h4>
                            <ul>
                                <li><i class="fa fa-circle"></i> Many legal platforms offer webinars, seminars, and training sessions to help lawyers improve their skills, 
                                    stay updated on industry trends, and earn continuing legal education (CLE) credits.</li>
                                <!-- <li><i class="fa fa-circle"></i> Switch to better higher-paying jobs.</li>
                                <li><i class="fa fa-circle"></i> Get countless international opportunities</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="market-leader">
    <div class="container container_bigscreen">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>Just Dial Law is your Virtual Law Office</h2>
            </div>

            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-4">
                        <div class="marker-leader-card mlc">
                            <h4>24/7</h4>
                            <h6>Get customer support from a young and enthusiastic team dedicated to you.</h6>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="marker-leader-card">
                            <h4>Grow Practice</h4>
                            <h6>Get an opportunity to connect and respond to enquiries from all over the world.</h6>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="marker-leader-card">
                            <h4>Secure</h4>
                            <h6>Protect your client information and firm’s data with the world’s most secure servers on
                                AWS.</h6>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>


<div class="how-it-works">
    <div class="container container_bigscreen">
        <div class="row">
            <div class="col-md-12">
                <h2>How It Works ?</h2>
            </div>
            <div class="col-md-12">
                <div class="how-it-works-wrapper ">
                    <div class="how-it-works-card">
                        <div class="text">
                            <h4>Add new Client</h4>

                            <div>
                                <h5>Grow with new client onboarding</h5>
                                <p>Respond to client enquiries from all over the world and create connect with those who
                                    need your help. Onboard the as clients on LegalKart App.</p>
                            </div>

                            <div>
                                <h5>Stay connected with clients</h5>
                                <p>Easily schedule consultations and accept payments with Legalkart Payments. Share and
                                    accept documents from clients. Chat with them on Legalkart at your convenience.</p>
                            </div>


                        </div>

                    </div>

                    <div class="img mobile1_none">
                        <img src="https://www.legalkart.com/frontend/images/lawyers-practice-management-revamp/new-client-page.webp"
                            alt="">
                    </div>

                    <div class="dot"></div>
                </div>
                <div class="how-it-works-wrapper opposite">
                    <div class="img mobile1_none">
                        <img src="https://www.legalkart.com/frontend/images/lawyers-practice-management-revamp/new-client-page.webp"
                            alt="">
                    </div>
                    <div class="how-it-works-card">
                        <div class="text opposite">
                            <h4>Case Management</h4>

                            <div>
                                <h5>Organize Every Case Detail</h5>
                                <p>Add cases from any courts in India and get updates on it like next date of hearing,
                                    court
                                    orders. Manage related documents, notes, dates and working team on it.</p>
                            </div>

                            <div>
                                <h5>Add clients to cases</h5>
                                <p>Add clients to the cases and keep them updated with dates, documents, and orders.</p>
                            </div>


                        </div>


                    </div>
                    <div class="dot"></div>
                </div>
                <div class="how-it-works-wrapper">
                    <div class="how-it-works-card">
                        <div class="text">
                            <h4>Billing And Payments</h4>

                            <div>
                                <h5>Bill it in real-time</h5>
                                <p>One-click payment request to the client. Track all client payments, send reminders
                                    and
                                    much more. Get Realtime update when a client pays. Download funds in account as soon
                                    as
                                    T+2 days.</p>
                            </div>

                            <div>
                                <h5>Customer confidence</h5>

                                <p>Professionally designed payment pages, increase the confidence of users in payments.

                                </p>
                            </div>



                        </div>
                    </div>
                    <div class="img mobile1_none">
                        <img src="https://www.legalkart.com/frontend/images/lawyers-practice-management-revamp/new-client-page.webp"
                            alt="">
                    </div>
                    <div class="dot"></div>
                </div>

                <div class="how-it-line app">
                    <div class="d2c-inactive-line"></div>
                    <div data-w-id="26afa277-faea-9277-cc4a-f339035950af" class="d2c-active-line">
                    </div>
                </div>

                <div class="apply-now">
                    <button mat-button (click)="lawyerLogin()">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="law-connect">
    <div class="container">
        <div class="row justify-content-center">
           <div class="col law-connect-head">
          
                <h2> Unlock the world of <span>legal solutions</span> today.   </h2>
                <p>From family law to personal injury and everything in between, we've got you covered. Say goodbye to the frustration of finding the right lawyer . Your legal partner is just a tap away. </p>

                <h6  *ngIf="country === 'India'"><a  (click)="mailtoJustLaw()" >support@justdiallaw.com</a>     </h6>
                <h6 *ngIf="country === 'United States'"><a  (click)="mailtoJustLawUsa()" > support@justdiallaw.com</a>      </h6>
               
                    <button mat-button class="contact-now-btn" [routerLink]="'/contact-us'" > CONTACT NOW </button>
              
           
           </div>
        </div>
    </div>
</div>

<app-footer></app-footer>