


<nav  class="navbar navbar-expand-md navigation mobile_none">
    <div class="container container_bigscreen">
    <div class="row p-0 m-0" style="width:100%">
      
        <!-- <div class="col-md-4 p-0">
          <div class="d-flex justify-content-start p-md-1">
    
           
           
          </div>
      </div> -->

      <div class="col-md-12 p-0">
        <div class="d-flex justify-content-between p-md-1">

            <div class="social_media d-flex justify-content-end">
                <i (click)="gotofb()" class="bi bi-facebook"></i>
                <i (click)="gotoLi()" class="bi bi-linkedin"></i>
                <i (click)="gotoTw()" class="bi bi-twitter"></i>
                <i (click)="gotoIns()" class="bi bi-instagram"></i>
            </div>
            <div class="d-flex">
                <!-- <div class="center-div d-flex justify-content-end">
                    <i class="bi bi-clock"></i>
                     <h6>24/7</h6>
                </div> -->
             
                <!-- <div class="center-div d-flex justify-content-end">
                    <i class="bi bi-phone"></i>
                     <h6>+91-9142846846</h6>
                </div> -->
    
                <div class="center-div d-flex justify-content-end">
                    <i class="bi bi-envelope-open"></i>
                     <h6><a  (click)="mailtoJustLaw()" >support@justdiallaw.com</a> </h6>
                </div>
            </div>
           
            
        </div>
    </div>


    <!-- <div class="col-md-4 p-0">
      <div class="d-flex justify-content-end p-md-1">
        
        


      </div>
  </div> -->


    </div>

  
  
    </div>
  </nav>

  <nav  class="navbar navbar-expand-md navigation desktop_none">
    <div class="container container_bigscreen">
    <div class="row p-0 m-0" style="width:100%">

      <div class="col-md-12 p-0">
        <div class="d-flex justify-content-between">

            <div class="social_media d-flex justify-content-end">
                <i (click)="gotofb()" class="bi bi-facebook"></i>
                <i (click)="gotoLi()" class="bi bi-linkedin"></i>
                <i (click)="gotoTw()" class="bi bi-twitter"></i>
                <i (click)="gotoIns()" class="bi bi-instagram"></i>
            </div>

            <div class="d-flex">
                <!-- <div class="center-div d-flex justify-content-end">
                    <i class="bi bi-clock"></i>
                     <h6>24/7</h6>
                </div> -->
             
                <!-- <div class="center-div d-flex justify-content-end">
                    <i class="bi bi-phone"></i>
                     <h6>+91-9142846846</h6>
                </div> -->
    
                <div class="center-div d-flex justify-content-end">
                    <i (click)="mailtoJustLaw()" class="bi bi-envelope-open"></i>
                     <!-- <h6>support@medhaslaw.com</h6> -->
                </div>
            </div>
            
        </div>
    </div>


    <!-- <div class="col-md-4 p-0">
      <div class="d-flex justify-content-end p-md-1">
        
        


      </div>
  </div> -->


    </div>

  
  
    </div>
  </nav>
